.video__data {
  margin-top: 15px;
}

.video__title {
  padding: 5px 0px;
  font-size: 22px;
}

.video__owner {
  display: block;
  a {
    color: cornflowerblue;
    text-decoration: underline;
  }
  margin-bottom: 5px;
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  li {
    position: relative;
  }
  i {
    margin-right: 10px;
  }
  .video__comment {
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.delete-comment {
  position: absolute;
  right: 10px;
  &:hover {
    cursor: pointer;
  }
}

#commentForm {
  display: flex;
  align-items: center;
  i {
    font-size: 18px;
    height: 48px;
    display: flex;
    align-items: center;
  }
}
